<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="main-content">
    {{>header}}
    <h1>About me</h1>
    <img class="potrait" src="./img/arnab1.jpeg" alt="">
    <h3>Hello !</h3>
    <P>{{massege}}</P>
    <p>{{more}}</p>

    </div>    
    
    {{>footer}}
</body>
</html>